#progressbar li:nth-child(2):before {
    background-image: url(Images/megaman.gif);
    background-size: 64px 64px;
    display: inline-block;
    width: 64px;
    height: 64px;
    content:"";
    background-color:#66ff33;
}

#progressbar li.active:after {
    background-color:#66ff33;
}

#progressbar li.active:before {
    border-color:green;
}
