#progressbar li:last-child:before {
    background-image: url(Images/last.png);
    background-size: 60px 60px;
    display: inline-block;
    width: 64px;
    height: 64px;
    content:"";
    background-color:#66ff33;
}
#progressbar li.active:after {
    background-color:#66ff33;
}
#progressbar li.active:before {
    border-color:green;
}
#progressbar li:first-child +li:after {
    background-color:#66ff33;
}